.box{
   padding-top: 20px;   
   &__tour{
      height: 444.4px;
      background: #fff;
      border: 1px solid #ddd;
      // outline: none;
      &-image{
         width: 330.74px;
         height: 224.88px;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
      }
      &-map{
         position: relative !important;
         bottom: 28px;
         display: flex !important;
         flex: none !important;
         padding-right: 5px;
         min-width: 99px;
         height: 28px;
         background: rgba(0,70,126,0.8);
         color: rgb(11, 11, 14);
         &-place{
            padding-top: 0px;
            padding-left: 2px;
            color: white;
            font-size: 16px;
            font-weight: 500;
         }
      }
   }
   &__tour:hover{
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      transition: all .3s ease;
      cursor: pointer;
   }

   &-tour-surround__name{
      padding: 0px 10px 0px 10px;
      &-tour{
         position: relative;
         bottom: 20px;
         display: flex;
         justify-content: center;
         color: #003C71;
         font-weight: bold;
         font-size: 16px;
      }
      &-day{
         padding-left: 2px;
      }
      &-transports{
         display: flex;
         justify-content: flex-end;
      }
      &-desription{
         height: 75px;
         color: #00abc5;
      }
      &-price{
         display: flex;
         justify-content: flex-end;
         color: #00C1DE;
         font-size: 22px;
         font-weight: bold;
         &--unit{
            padding-top: 5px;
            padding-left: 3px;
         }
      }
   }
}