.tours{
   background: #f0f0f0;
   &__title{
      @include display-justify(flex !important, space-between);
      border-bottom: 0.2rem solid $color-blue;
      h3{
         margin-bottom: 0;
         font-size: 3.3rem;
         color: $color-blue;
      }
      span{
         position: relative;
         top: -0.4rem;
         color: $color-blue;
         font-size: 1.8rem;
         padding-top: 3rem;
         cursor: pointer;
      }
   }
   &__box{
      padding-bottom: 2rem;
   }
   &__box--more{
      @include display-justify(flex !important, center);
      margin-bottom: 2rem;
      &-hover{
         background: white;
         border: 1px solid white;
         opacity: 0.7;
      }
      &-hover:hover{
         cursor: pointer;
         opacity: 1 !important;
         color: $color-blue;   
      }
   }
}
//-group tour
.box{
   padding-top: 2.8rem;
   &__tour{
      min-height: 44.44rem;
      // width: 35.88rem !important;
      background: #fff;
      &-image{
         // width: 35.88rem !important;
         width: 100%;
         // height: 22.488rem !important;
         background: {
            repeat: no-repeat;
            position: center;
            size: cover;
         };
      }
      &-map{
         position: relative !important;
         bottom: 2.8rem;
         display: flex !important;
         flex: none !important;
         padding-right: 0.5rem;
         min-width: 9.9rem;
         height: 2.8rem;
         background: rgba(0,70,126,0.8);
         color: rgb(11, 11, 14);
         &-place{
            padding: {
               top: 0rem;
               left: 0.2rem;
            };
            color: white;
            @include font-size-weight(1.6rem, 500);
         }
      }
   }
   &__tour:hover{
      box-shadow: rgba(6, 24, 44, 0.4) 0rem 0rem 0rem 0.2rem, rgba(6, 24, 44, 0.65) 0rem 0.4rem 0.6rem -0.1rem, rgba(255, 255, 255, 0.08) 0rem 0.1rem 0rem inset;
      transition: all .3s ease;
      cursor: pointer;
   }

   &-tour-surround__name{
      padding: 0rem 1rem 0rem 1rem;
      &-tour{
         position: relative;
         top: -1.7rem;
         bottom: 2rem;
         @include display-justify(flex, center);
         color: $color-blue;
         @include font-size-weight(1.6rem, bold);
      }
      &-day{
         padding-left: 0.2rem;
      }
      &-transports{
         @include display-justify(flex, flex-end);
      }
      &-desription{
         height: 7.5rem;
         color: #00abc5;
      }
      &-price{
         @include display-justify(flex, flex-end);
         color: #00C1DE;
         @include font-size-weight(2.2rem, bold);
         &--unit{
            padding: {
               top: 0.5rem;
               left: 0.3rem;
            }
         }
      }
   }
}

@media all and (min-width: 500px){
   .box__tour-image{
      height: 33.488rem !important;
   }
   }
@media all and (min-width: 768px){
   .tours__media{
      width: 750px;
      
   }
   .box__tour-image{
      height: 25.488rem !important;
   }
   }

@media all and (min-width: 992px){
   .tours__media{
      width: 970px;
   }
   }

@media all and (min-width: 1200px){
.tours__media{
   width: 1142px;
}
}
