.footer{
   display: flex;
   align-items: center;
   background-color: #f9f9f9;
   min-height: 400px;
   &__ul{
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      li a{
         color: #818180;
         size: 16px;
         direction: none !important;
      }
      li a:hover{
         color: rgb(6, 1, 255);
      }
   }
}
